extends layout
block content
    .page.landing
        .navbar
            .container
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .nav-collapse.collapse
                    .nav
                        ul.nav
                            li
                                a(href='#') Who we are
                            li.divider-vertical
                            li
                                a(href='#') What we do
                            li.divider-vertical
                            li
                                a(href='#') Our Thinking

        .main
            .picture.body.no-space
                .container
                    .row
                        .span8
                            img(src='/images/main_picture.jpg')
                        .span4
                            img(src='/images/fishing.jpg')
                            img(src='/images/grey.png')
                    .row.second
                        .span6.blue
                            h1 This is the test
                        .span6
                            h1 Hello Motherfucker !
                            p I am different
                    .row
                        .span4
                            img(src='/images/greySmall.png')
                            img(src='/images/blueSmall.png')
                        .span4
                            h1 Hello Mother.
                        .span4.offset4
                            img(src='/images/blueSmall.png')
                            img(src='/images/greySmall.png')









